
@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<br />
<h2>HGS</h2>
<br />
<p>
    @Html.ActionLink("HGS Başvuru", "HgsBasvuru")
</p>
<br />
<p>
    @Html.ActionLink("HGS İşlemleri", "HgsIslemleri")
</p>



